body{
    font-family: 'Open Sans', sans-serif;
}

.banner-container{
    background-color: #d3d3d3;
}

.banner-column{
    background-color: #586064;
}

.navbar-container{
    background-color: #111120;
} 

.education-container{
    background-color:  #f1e7e7;
}

.text-color-redtype{
    color: #fa8072;
}

.bg-color-redtype{
    background-color: #fa8072;
}

.circle{
    background-color: #fa8072;
    width:150px;
    height:150px;
    border-radius: 50%;
}

.project-container{
    background-color: #267f95;
}

.project-container .card{
    background-color: #267f95;
}

.portfolio-container{
    background-color: #edf2fb;
}